.plant-care {
    h2 {
        font-size: 2rem;
        margin: 2rem 0;
        color: #1e6091;
    }

    ul {
        // list-style: square inside;
    }

    li {
        margin: 1rem 0;
        
    }

    i {
        margin-right: 0.7rem;
        color: #e56b6f;
        color: #52b69a;
    }

    // padding-bottom: 5rem;
    margin: 5rem 0;
}